/*LOGIN*/
/*STORIES*/
#side-wrapper {
	background-color: #658281;
	background-image: url(backgrounds/shley_tree_1.png);
}

/*CHAPTERS*/
#chapters-wrapper {
	width: 100%;
	background-color: #658281;
	background-image: url(backgrounds/shley_tree_2.png);

}
.chapter-grid {
	height: 100%;
}
.chapter-column {
	height: 100%;
}}