<template name="chapters">
<div class="ui grid chapter-grid">
	<div class="fourteen wide right aligned column chapter-column">
		<div class="ui segment chapter-segment">
		</div>
	</div>
	<div class="two wide column chapter-column">
		<div class="ui segment chapter-segment">
			<div class="large ui vertical animated inverted green button">
				<div class="visible content">
					<i class="large plus icon"></i>
				</div>
				<div class="hidden content">
					<i class="large marker icon"></i>
				</div>

			</div>
		</div>
	</div>


</div>
</template>