<template name="sidebar">
	<div class="ui center aligned segment">
		{{> addStory}}
		<div class="fluid ui button add-story-button">
			<i class="big blue plus icon"></i>
		</div>
	</div>
	<div id="timeline-canvas" class='item'>
	</div>
	<a class="item"><h2>JOOD<i class="github icon"></i></h2></a>
</template>

<!-- This is a modal -->
<template name="addStory">
	<div class="ui long modal add-story-modal">
		<div class="header">
			<span>Add A Story</span><i class="ui large map icon"></i>

		</div>
		<!-- Content [Consider adding map as background] -->
		<form class="ui form content add-story-form">
		<!-- Basic Story data for adding to database -->
		<div class="ui fluid field">
			<!-- Text name for story [regex?] -->
			<input type="text" name="name" placeholder="Name Your Story">
		</div>
<!-- 		<div class="two fields">
			Nest two date inputs together
			<div class="field">
				<label>When?</label>
				<div class="two fields">
					<div class="field">
						<input class="add-story-modal start-date">
					</div>
					<div class="field">
					</div>
				</div>
			</div>
			Location input [searchbar?] for starting
			<div class="field">
				<label>Where?</label>
				<div class="field">
					<input type="text" name="name" placeholder="Name Your Story">
				</div>
			</div>
		</div> -->
			<div class="ui fluid steps">
				<div class="step">
					<div class="field">
						<input type="text" placeholder="Starting Point">
					</div>
				</div>
				<div class="step">
					<div class="field">
						<!-- <input class="add-story-modal start-date"> -->
						<!-- <div class="ui button add-story-start-btn">Start Date</div> -->
						<input class="add-story start-date">
					</div>
				</div>
				<div class="step">
					<div class="field">
						<!-- <input class="add-story-modal end-date"> -->
						<div class="ui button add-story-end-btn">End Date</div>
					</div>
				</div>
			</div>
			<div id="datepicker"></div>
			<div id="start-date-picker"></div>
		</form>
		<div class="actions">Actions</div>
	</div>

	<div class="ui small modal add-story-start-modal">
		<div class="content">

		</div>
	</div>
	<div class="ui long modal add-story-end-modal">
		<div class="header">header</div>
		<div class="content">
			sef 
			<div class="ui input">
			<input class="add-story-modal end-date">
			</div>
			<!-- <div id="end-date-picker"></div> -->
			adw
		</div>
	</div>
</template>