<template name="sidebar">
	<div class="ui center aligned segment">
		{{> addStory}}
		<div class="fluid ui button add-story-button">
			<i class="big blue plus icon"></i>
		</div>
	</div>
	<div id="timeline-canvas" class='item'>
	</div>
	<a class="item"><h2>JOOD<i class="github icon"></i></h2></a>
</template>

<!-- This is a modal -->
<template name="addStory">
	<div class="ui basic modal add-story-modal">
		<div class="header"><span>Add A Story</span><i class="ui large map icon"></i></div>

		<!-- Content [Consider adding map as background] -->
		<div class="ui content">
		<form class="ui form add-story-form">
		<!-- Basic Story data for adding to database -->
		<div class="ui fluid field">
			<!-- Text name for story [regex?] -->
			<input id="add-story-name-input" class="add-story-name" type="text" name="name" placeholder="Name Your Story">
		</div>
		<div class="two fields">
			<!-- Location input [searchbar?] for starting -->
				<div class="field">
					<!-- <input type="text" name="name" placeholder="Where does it start?"> -->
					<div class="ui search add-story-search">
						<div class="ui icon input">
							<input id="add-story-location-input" class="prompt" type="text" placeholder="Where does it start?">
							<i class="marker icon"></i>
						</div>
						<div class="results">
						</div>
					</div>
				</div>
			<!-- Start date datepicker -->
			<div class="field">
					<div class="ui icon input">
						<input class="add-story-start-date" placeholder="When does it start?">
						<i class="calendar icon"></i>
					</div>
			</div>
		</div>
		</form>
		</div>
		<!-- Callbacks -->
		<div class="actions">
			<div class="ui two fluid inverted buttons">
				<div class="ui red inverted cancel button">Cancel</div>
				<div class="ui green inverted submit button">Start</div>
			</div>
		</div>
	</div>
</template>