<template name="sidebar">
	<div class="ui center aligned segment">
		{{> addStory}}
		<div class="fluid ui button add-story-button">
			<i class="big blue plus icon"></i>
		</div>
	</div>
	<div id="timeline-canvas" class='item'>
	</div>
	<a class="item"><h2>JOOD<i class="github icon"></i></h2></a>
</template>

<!-- This is a modal -->
<template name="addStory">
	<div class="ui basic modal add-story-modal">
		<div class="header">
			<span>Add A Story</span><i class="ui large map icon"></i>

		</div>
		<!-- Content [Consider adding map as background] -->
		<form class="ui form content add-story-form">
		<!-- Basic Story data for adding to database -->
		<div class="ui fluid field">
			<!-- Text name for story [regex?] -->
			<input type="text" name="name" placeholder="Name Your Story">
		</div>
		<div class="two fields">
			<!-- Location input [searchbar?] for starting -->
			<div class="field">
				<div class="field">
					<!-- <input type="text" name="name" placeholder="Where does it start?"> -->
					<div class="ui search add-story-search">
						<div class="ui icon input">
							<input class="prompt" type="text" placeholder="Where does it start?">
							<i class="marker icon"></i>
						</div>
						<div class="results">
						</div>
					</div>
				</div>
			</div>
			<!-- Nest two date inputs together -->
			<div class="field">
				<div class="two fields">
					<div class="ui icon input field">
						<input class="add-story-start-date" placeholder="When does it start?">
						<i class="calendar icon"></i>
					</div>
					<div class="ui icon input field">
						<input class="add-story-end-date" placeholder="Does it end?">
						<i class="calendar icon"></i>
					</div>
				</div>
			</div>
		</div>
		</form>
		<!-- Callbacks -->
		<div class="actions">
			<div class="ui two fluid inverted buttons">
				<div class="ui red inverted cancel button">Cancel</div>
				<div class="ui green inverted ok button">Start</div>
			</div>
		</div>
	</div>
</template>